#notification_li {
    position: relative
}

#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 58px;
    margin-left: -170px;
    width: 400px;
    z-index: -1;
    display: none; // Enable this after jquery implementation 
}

// Popup Arrow
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}

#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}

#notificationsBody {
    padding: 33px 0px 0px 0px !important;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}

#notification_count {
    padding: 1px 8px 1px 8px;
    background: red;
    color: #ffffff;
    margin-left: 25px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: absolute;
    margin-top: 5px;
    font-size: 11px;
    z-index: 5;
}