#courseJumbo {
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #e2994e;
}

#updateButton {
	background-color: #7064e5;
}

#updateButton:hover {
	background-color: #4838de;
}
