body,
html {
    height: 100%;
    background-color: #F5F6FA;
}

body {
    padding-top: 50px;
}

.wide {
    width: 100%;
    height: 15%;
    height: calc(15% - 1px);
    background: #df4c97;
    background: -webkit-linear-gradient(left, #df4c97, #272262);
    background: -moz-linear-gradient(left, #df4c97, #272262);
    background: -ms-linear-gradient(left, #df4c97, #272262);
    background: -o-linear-gradient(left, #df4c97, #272262);
    background: linear-gradient(to right, #df4c97, #272262);
    background-size: cover;
}

.wide img {
    width: 100%;
}

.logo {
    color: #fff;
    font-weight: 800;
    font-size: 14pt;
    padding: 25px;
    text-align: center;
}

.line {
    padding-top: 20px;
    white-space: no-wrap;
    overflow: hidden;
    text-align: center;
}

.jumbopos {
    position: relative;
    top: -125px;
    min-height: 250px;
    max-height: 250px;
    width: 50%;
    margin: 0 auto; 
    box-shadow: 1px 1px 5px #888888;
}
