body,
html {
    height: 100%;
    background-color: #F5F6FA;
    overflow-x: hidden;
}

body {
    padding-top: 50px;
}

.wide {
    width: 100%;
    height: 35vh;
    background: #df4c97;
    background: -webkit-linear-gradient(left, #df4c97, #272262);
    background: -moz-linear-gradient(left, #df4c97, #272262);
    background: -ms-linear-gradient(left, #df4c97, #272262);
    background: -o-linear-gradient(left, #df4c97, #272262);
    background: linear-gradient(to right, #df4c97, #272262);
    background-size: cover;
}

.wide img {
    width: 100%;
}

.logo {
    color: #fff;
    font-weight: 800;
    font-size: 14pt;
    padding: 25px;
    text-align: center;
}

.line {
    padding-top: 20px;
    white-space: no-wrap;
    overflow: hidden;
    text-align: center;
}

.jumbopos {
    position: relative;
    top: -15vh;
    width: 75%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #888888;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.blur {
    -webkit-filter: blur(5px) grayscale(50%);
}

.progress {
    height: 22px;
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
}

.p1 span {
    color: #2e6d6f;
}

.p2 span {
    color: #8c5300;
}

.btn:focus {
    outline: none;
}
