<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Add Course</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i>  Menu</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 12%;margin-bottom: 20px; background: #2390fd;
	background: -webkit-linear-gradient(left, #2390fd, #54cfcb);
	background:    -moz-linear-gradient(left, #2390fd, #54cfcb);
	background:     -ms-linear-gradient(left, #2390fd, #54cfcb);
	background:      -o-linear-gradient(left, #2390fd, #54cfcb);
	background:         linear-gradient(to right, #2390fd, #54cfcb);">
        <div style="padding-top: 80px" align="center">
            <font color="white" size="10" >Add Course</font>
        </div>
    </div>
    <div>
    </div>
    <div class="row">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-8" align="center">
            <form class="form-signin">
                <label class="sr-only">Title</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="personR.fName" required></input>
                <label class="sr-only">Department Name</label>
                <input type="text" class="form-control" placeholder="Department Name" ng-model="personR.fName" required></input>
                <label class="sr-only">Fee</label>
                <input type="text" class="form-control" placeholder="Fee (in INR)" ng-model="personR.lName" required></input>
                <label class="sr-only">Prerequisites</label>
                <input type="text" class="form-control" placeholder="Prerequisites : Course1,Course2,..." ng-model="personR.enddate" required></input>
                <label class="sr-only">Start Date</label>
                <input type="text" class="form-control" placeholder="Start Date dd-mm-yy" ng-model="personR.lName" required></input>
                <label class="sr-only">End Date</label>
                <input type="text" class="form-control" placeholder="End Date dd-mm-yy" ng-model="personR.enddate" required></input>
                <textarea placeholder="Description" class="form-control" rows="5" ></textarea>
                <div  style="padding-top: 10px">
                    <button class="btn btn-primary" type="button"  style="padding-left: 100px ; padding-right: 100px">Add Course</button>
                </div>
            </form>
        </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</html>
