<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Add Course</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
</head>

<body ng-controller="addCourseCtrl">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 35%;margin-bottom: 20px; background: #2390fd;
    background: -webkit-linear-gradient(left, #2390fd, #54cfcb);
    background:    -moz-linear-gradient(left, #2390fd, #54cfcb);
    background:     -ms-linear-gradient(left, #2390fd, #54cfcb);
    background:      -o-linear-gradient(left, #2390fd, #54cfcb);
    background:         linear-gradient(to right, #2390fd, #54cfcb);">
        <div class="row" >
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
            <div class="col-xs-2 logo">
                <font color="white" size="6">Edit</font>
            </div>
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3" align="center"></div>
            <div class="col-xs-6" align="center">
                <h3 style="color: white">Add New Course</h3>
            </div>
            <div class="col-xs-3" align="center"></div>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-8" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10" align="center">
                        <form class="form-signin">
                            <label class="sr-only">Title</label>
                            <input type="text" class="form-control" placeholder="Title" ng-model="courseName" autofocus required>
                            <label class="sr-only">Department Name</label>
                            <input type="text" class="form-control" placeholder="Department Name" ng-model="courseDepartment" required>
                            <label class="sr-only">Fee</label>
                            <input type="text" class="form-control" placeholder="Fee (in INR)" required>
                            <button class="btn btn-default btn-block" type="button" data-toggle="modal" data-target="#facultyModal" style="text-align: left;text-transform: lowercase;text-transform: capitalize;">Faculty</button>
                            <button class="btn btn-default btn-block" type="button" data-toggle="modal" data-target="#prereqModal" style="text-align: left;text-transform: lowercase;text-transform: capitalize;">Prerequisites</button>
                            <label class="sr-only">Start Date</label>
                            <input type="text" class="form-control" placeholder="Start Date dd-mm-yy" ng-model="startDate" required>
                            <label class="sr-only">End Date</label>
                            <input type="text" class="form-control" placeholder="End Date dd-mm-yy" ng-model="endDate" required>
                            <textarea placeholder="Description" class="form-control" rows="3" ng-model="courseDescription"></textarea>
                            <div style="padding-top: 10px">
                                <button class="btn btn-primary" type="button" style="padding-left: 100px ; padding-right: 100px" ng-click="addCourse()">Add Course</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2" align="center"></div>
    </div>
    <div class="modal fade" id="prereqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" align="center">Prerequisites</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div ng-repeat="course in courseList">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="x" ng-change="setPreReq(course.name, $index, x)">{{course.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="facultyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" align="center">Faculty</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <div ng-repeat="faculty in facultyList">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="x" ng-change="setFaculty(faculty.email,faculty.name,$index, y)">{{faculty.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/addCourseCtrl.js"></script>
<script src="js/angular-route.js"></script>

</html>
