<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Content</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="assignmentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 12%;margin-bottom: 20px;
    background: #2390fd;
    background: -webkit-linear-gradient(left, #2390fd, #54cfcb);
    background:    -moz-linear-gradient(left, #2390fd, #54cfcb);
    background:     -ms-linear-gradient(left, #2390fd, #54cfcb);
    background:      -o-linear-gradient(left, #2390fd, #54cfcb);
    background:         linear-gradient(to right, #2390fd, #54cfcb);

    ">
        <div style="padding-top: 80px" align="center">
            <font color="white" size="10">Course Name</font>
        </div>
    </div>
    <div>
    </div>
    <div class="row">
        <div class="col-md-4" align="center">
            <font size="4">
                Instructor Name
                <br>
            </font>
            <font size="4">
                {{course.departmentName}}
                <br>
            </font>
            <font size="4">
                {{assignment.assignmentStartDate}}
            </font>
            <font size="4">
                {{assignment.assignmentEndDate}}
                <br>
            </font>
        </div>
        <div class="col-md-8" align="left" style="padding-right: 10px;">
            <font size="3">
                {{"Solve the below"}}
            </font>
        </div>
    </div>
    <hr style="border-color: #555555">
    <div align="center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" align="center">
                <h2>{{assignment.assignmentName}}</h2>
            </div>
            <div class="col-md-3" align="Left" style="padding-top: 30px">
                <h6>StartDate-EndDate</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <font size="4">
                    {{assignment.assignmentContent}}
                </font>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div>
            <div ng-controller="assignmentCtrl">
                <fieldset data-ng-repeat="choice in choices">
                    <input type="text" ng-model="choice.answer" name="" placeholder="Enter answer">
                </fieldset>
                <button class="addfields" ng-click="evaluate()">Evaluate</button>
                <div class="col-md-10">
                    <font size="4">
                        {{correctAnswerCount}}
                    </font>
                </div>
            </div>
            <hr style="border-color: #555555">
        </div>
    </div>
    <div align="center">
        <button class="btn btn-primary" type="button" ng-click="doneWithAssignment(studentEmail,courseName)">Done with this assignment!</button>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/assignmentController.js"></script>
<script src="js/angular-route.js"></script>

</html>
