<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Assignment</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
</head>

<body ng-controller="assignmentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 35%;margin-bottom: 20px;
    background: #2390fd;
    background: -webkit-linear-gradient(left, #2390fd, #54cfcb);
    background:    -moz-linear-gradient(left, #2390fd, #54cfcb);
    background:     -ms-linear-gradient(left, #2390fd, #54cfcb);
    background:      -o-linear-gradient(left, #2390fd, #54cfcb);
    background:         linear-gradient(to right, #2390fd, #54cfcb);">
        <div class="row">
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
            <div class="col-xs-2 logo">
                <font color="white" size="6">{{course.name}}</font>
            </div>
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" align="center"></div>
            <div class="col-xs-6" align="center">
                <h1 style="color: white">Assignment</h1>
            </div>
            <div class="col-xs-3" align="center"></div>
        </div>
    </div>
    <div align="center" style="position: relative;top: -1%;">
        <div class="row" align="center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                    <h5>ASSIGNMENT {{assignment.assignmentNumber}}</h5>
                    <h2>{{assignment.assignmentName}}</h2>
                    <h5>Mode of Evaluation: Self</h5>
                    <p>Float Date: {{assignment.assignmentStartDate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due Date: {{assignment.assignmentEndDate}}</p>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <font size="4">
                                {{assignment.assignmentContent}}
                            </font>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="form-group" ng-controller="assignmentCtrl">
                                <div data-ng-repeat="choice in choices track by $index">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p>Q{{$index+1}}:</p>
                                        </div>
                                        <div class="col-md-10">
                                            <input class="form-control" type="text" ng-model="choice.answer" name="" placeholder="Your answer">
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" align="center">
                            <button class="addfields btn btn-default btn-block" ng-click="evaluate();showme=true" align="center">Evaluate</button>
                            <br/>
                            <p ng-show="showme">Your Score: {{correctAnswerCount}}</p>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div align="center" style="position: relative;top: -75px;">
        <button class="btn btn-primary" type="button" ng-click="doneWithAssignment(studentEmail,courseName)">Done with this assignment!</button>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/assignmentController.js"></script>
<script src="js/angular-route.js"></script>

</html>
