<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Faculty</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
</head>

<body ng-controller="facultyCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="goToProfile()">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style="background: #f63737;
                                    background: -webkit-linear-gradient(left, #f63737, #cc4343);
                                    background:    -moz-linear-gradient(left, #f63737, #cc4343);
                                    background:     -ms-linear-gradient(left, #f63737, #cc4343);
                                    background:      -o-linear-gradient(left, #f63737, #cc4343);
                                    background:         linear-gradient(to right, #f63737, #cc4343);
                            ">
        <div class="col-xs-5 line">
            <hr>
        </div>
        <div class="col-xs-2 logo">Welcome</div>
        <div class="col-xs-5 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/faculty.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 50px">
                    <h1>{{facultyName}}</h1>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -100px;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-10" align="center">
            <h1>Courses</h1>
            <div class="col-md-1" align="center"></div>
            <div class="col-md-10" align="center">
                <div ng-repeat="course in courseList" style="padding-bottom: 5px">
                    <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                        <div style="margin: -20px;">
                            <h3>{{course.courseName}}</h3>
                            <p><a class="btn btn-info" ng-click="goToCourse(facultyEmail,course.courseName)">Go to course page</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="center"></div>
        </div>
        <div class="col-md-1" align="center"></div>
    </div>
    <hr style="border-color: #555555;position: relative; top: -100px;">
    <div align="center" style="position: relative; top: -100px;">
        <button class="btn btn-danger" type="button" ng-click="addNewCourse(facultyEmail)">Add New Course</button>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/facultyController.js"></script>
<script src="js/angular-route.js"></script>

</html>
