<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Faculty</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <link href="css/notifications.css" rel="stylesheet">
    <link href="css/faculty.css" rel="stylesheet">
</head>

<body ng-controller="facultyCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" pull-left>
                <ul class="nav pull-left">
                    <li id="notification_li">
                        <span id="notification_count">{{notificationCount}}</span>
                        <button class="btn btn-default btn-link" style="font-size:20px;padding-top: 15px;" id="notificationLink">
                            <span class="glyphicon glyphicon-inbox"></span>
                        </button>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications">
                                <div class="dropdown">
                                    <ul class="dropdown-menu" style="display: block; position: static; width: 100%;">
                                        <li class="dropdown-header">Lecture Notifications</li>
                                        <div ng-repeat="lectureNoti in lectureNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToLecture(lectureNoti)">{{lectureNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Assignment Notifications</li>
                                        <div ng-repeat="assignmentNoti in assignmentNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToAssignment(assignmentNoti)">{{assignmentNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Messages</li>
                                        <div ng-repeat="messageNoti in messageNotifications track by $index" style="padding-left: 20px;">
                                            <li>
                                                <span><b>From </b>{{messageNoti.from}}</span>
                                                <br>
                                                <a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="replyMessage($index)">{{messageNoti.message}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div id="notificationFooter">
                                <a href="#"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="navbar-header pull-right" style="margin-top: -55px;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="goToProfile()">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style="background:background: #e2994e; background: -webkit-linear-gradient(left, #e2994e, #e24f4e); background: -moz-linear-gradient(left, #e2994e, #e24f4e); background: -ms-linear-gradient(left, #e2994e, #e24f4e); background: -o-linear-gradient(left, #e2994e, #e24f4e); background: linear-gradient(to right, #e2994e, #e24f4e);
                            ">
        <div class="col-md-4 col-xs-2 line">
            <hr>
        </div>
        <div class="col-md-4 col-xs-8 logo">Welcome</div>
        <div class="col-md-4 col-xs-2 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div id="courseJumbo" class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/faculty.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 50px">
                    <h1 style="font-size: 5vh;">{{facultyName}}</h1>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -12vh;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-10" align="center">
            <h1 style="font-size: 5vh;">Courses</h1>
            <div class="col-md-1" align="center"></div>
            <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
                <div ng-repeat="course in courseList" style="padding-bottom: 5px;">
                    <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                        <div style="margin: -20px;">
                            <h3 style="font-size: 4vh;">{{course.courseName}}</h3>
                            <p><a id="courseButton" class="btn btn-info" ng-click="goToCourse(facultyEmail,course.courseName)">Go to course page</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="center"></div>
        </div>
        <div class="col-md-1" align="center"></div>
    </div>
    <div align="center" style="position: relative; top: -12vh;">
        <button id="addCourse" class="btn btn-danger" type="button" ng-click="addNewCourse(facultyEmail)">Add New Course</button>
    </div>
    <div id="notificationAlert" class="alert alert-dismissible alert-success fade" style="position: fixed;bottom: 0;margin:0 auto;width: 100%;z-index: 50;">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove" style="font-size: 20px;"></i></button>
        New <a href="#" class="alert-link">notifications</a>.
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel" align="center">Reply</h3>
                </div>
                <div ng-controller="facultyCtrl">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0">
                            <h5><b>From: </b>{{messageNotifications[messageSender].from}}</h5>
                            <h5><b>Message: </b>{{messageNotifications[messageSender].message}}</h5>
                            <h5><b>Reply: </b></h5>
                            <br/>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="messageToSend">Type here</textarea>
                            </div>
                            <button class="btn btn-success" type="button" ng-click="sendMessage()" data-toggle="modal" data-target="#messageModal">Send!</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function change(x) {
    document.getElementById("course").innerHTML = x;
}
$(document).ready(function() {
    $("#notificationLink").click(function() {
        $("#notificationContainer").fadeToggle(300);
        $("#notification_count").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $(document).click(function() {
        $("#notificationContainer").hide();
    });

    //Popup on click
    $("#notificationContainer").click(function() {
        return false;
    });

});
</script>
<script src="js/angular.min.js"></script>
<script src="controller/facultyController.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/socket.io.js"></script>


</html>
