<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Profile</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <link href="css/notifications.css" rel="stylesheet">
</head>

<body ng-controller="profileFacultyCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li id="notification_li">
                        <span id="notification_count">{{notificationCount}}</span>
                        <button class="btn btn-default btn-link" style="font-size:20px;padding-top: 15px;" id="notificationLink">
                            <span class="glyphicon glyphicon-inbox"></span>
                        </button>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications">
                                <div class="dropdown">
                                    <ul class="dropdown-menu" style="display: block; position: static; width: 100%;">
                                        <li class="dropdown-header">Lecture Notifications</li>
                                        <div ng-repeat="lectureNoti in lectureNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToLecture(lectureNoti)">{{lectureNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Assignment Notifications</li>
                                        <div ng-repeat="assignmentNoti in assignmentNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToAssignment(assignmentNoti)">{{assignmentNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Messages</li>
                                        <div ng-repeat="messageNoti in messageNotifications" style="padding-left: 20px;">
                                            <li>
                                                <span><b>From </b>{{messageNoti.from}}</span>
                                                <br>
                                                <a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;">{{messageNoti.message}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div id="notificationFooter">
                                <a href="#"></a>
                            </div>
                        </div>
                    </li>
                    <li><span class="btn-separator"></span></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <!--li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style="background: #5b0000;
                                    background: -webkit-linear-gradient(left, #5b0000, #ef8d18);
                                    background:    -moz-linear-gradient(left, #5b0000, #ef8d18);
                                    background:     -ms-linear-gradient(left, #5b0000, #ef8d18);
                                    background:      -o-linear-gradient(left, #5b0000, #ef8d18);
                                    background:         linear-gradient(to right, #5b0000, #ef8d18);
                            ">
        <div class="col-xs-5 line">
            <hr>
        </div>
        <div class="col-xs-2 logo">Welcome</div>
        <div class="col-xs-5 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/profile.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 20px">
                    <h1>{{faculty.name}}</h1>
                    <h4>{{faculty.email}}</h4>
                    <h4>{{contactInfo}}</h4>
                    <br>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -100px;">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-4" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Password
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10" align="center">
                        <form class="form-signin">
                            <label class="sr-only">Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" ng-model="facultyOldPassword" required>
                            <label class="sr-only">New Password</label>
                            <input type="password" class="form-control" placeholder="New Password" ng-model="facultyNewPassword" required>
                            <label class="sr-only">Re-Enter New Password</label>
                            <input type="password" class="form-control" placeholder="Re-Enter New Password" ng-model="facultyNewPasswordC" required>
                            <div style="padding-top: 10px">
                                <button class="btn btn-warning" type="button" style="padding-left: 100px ; padding-right: 100px" ng-click="setPassword()">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Contact Info
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10" align="center">
                        <label class="sr-only">New Phone Number</label>
                        <input type="text" class="form-control" placeholder="New Phone Number" ng-model="facultyContactInfo" required>
                        <div style="padding-top: 10px">
                            <button class="btn btn-warning" type="button" style="padding-left: 100px ; padding-right: 100px" ng-click="setContact()">Update</button>
                        </div>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2" align="center"></div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $("#notificationLink").click(function() {
        $("#notificationContainer").fadeToggle(300);
        $("#notification_count").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $(document).click(function() {
        $("#notificationContainer").hide();
    });

    //Popup on click
    $("#notificationContainer").click(function() {
        return false;
    });

});
</script>
<script src="js/angular.min.js"></script>
<script src="controller/profileFacultyController.js"></script>
<script src="js/angular-route.js"></script>

</html>
