<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Profile</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
</head>

<body ng-controller="profileParentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToProfile()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <!--li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style="background: #1a1717;
                                    background: -webkit-linear-gradient(left, #1a1717, #0994d2);
                                    background:    -moz-linear-gradient(left, #1a1717, #0994d2);
                                    background:     -ms-linear-gradient(left, #1a1717, #0994d2);
                                    background:      -o-linear-gradient(left, #1a1717, #0994d2);
                                    background:         linear-gradient(to right, #1a1717, #0994d2);
                            ">
        <div class="col-md-4 col-xs-2 line">
            <hr>
        </div>
        <div class="col-md-4 col-xs-8 logo">Welcome</div>
        <div class="col-md-4 col-xs-2 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/guardian.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 20px">
                    <h1 style="font-size: 5vh;">{{parent.name}}</h1>
                    <h4 style="font-size: 2.5vh;">{{parent.email}}</h4>
                    <h4 style="font-size: 2.5vh;">{{parent.contactInfo}}</h4>
                    <br>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -12vh;" align="center">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Password
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
                        <form class="form-signin">
                            <label class="sr-only">Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" ng-model="parentOldPassword" required>
                            <label class="sr-only">New Password</label>
                            <input type="password" class="form-control" placeholder="New Password" ng-model="parentNewPassword" required>
                            <label class="sr-only">Re-Enter New Password</label>
                            <input type="password" class="form-control" placeholder="Re-Enter New Password" ng-model="parentNewPasswordC" required>
                            <div style="padding-top: 10px">
                                <button class="btn btn-primary btn-block" type="button" ng-click="setPassword()">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Contact Info
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
                        <label class="sr-only">New Phone Number</label>
                        <input type="text" class="form-control" placeholder="New Phone Number" ng-model="parentContactInfo" required>
                        <div style="padding-top: 10px">
                            <button class="btn btn-primary btn-block" type="button" ng-click="setContact()">Update</button>
                        </div>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2" align="center"></div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/profileParentCtrl.js"></script>
<script src="js/angular-route.js"></script>

</html>