<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Profile</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
</head>

<body ng-controller="studentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <!--li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style="background: #5b0000;
                                    background: -webkit-linear-gradient(left, #5b0000, #ef8d18);
                                    background:    -moz-linear-gradient(left, #5b0000, #ef8d18);
                                    background:     -ms-linear-gradient(left, #5b0000, #ef8d18);
                                    background:      -o-linear-gradient(left, #5b0000, #ef8d18);
                                    background:         linear-gradient(to right, #5b0000, #ef8d18);
                            ">
        <div class="col-xs-5 line">
            <hr>
        </div>
        <div class="col-xs-2 logo">Welcome</div>
        <div class="col-xs-5 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/student.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 20px">
                    <h1>{{studentName}}</h1>
                    <h4>{{studentEmail}}</h4>
                    <h4>{{studentContactInfo}}</h4>
                    <br>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative; top: -100px;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-4" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5"> Pending Parent Requests
                        <br>
                    </font>
                </div>
                <div style="padding-bottom: 2px; padding-left: 25px;padding-right: 25px" ng-repeat="parent in parentRequestList">
                    <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#loginModal" type="button" ng-click="showRequest(parent)">{{parent.parentName}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Password
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10" align="center">
                        <form class="form-signin">
                            <label class="sr-only">Old Password</label>
                            <input type="password" class="form-control" placeholder="Old Password" ng-model="studentOldPassword" required>
                            <label class="sr-only">New Password</label>
                            <input type="password" class="form-control" placeholder="New Password" ng-model="studentNewPassword" required>
                            <label class="sr-only">Re-Enter New Password</label>
                            <input type="password" class="form-control" placeholder="Re-Enter New Password" ng-model="studentNewPasswordC" required>
                            <div style="padding-top: 10px">
                                <button class="btn btn-warning" type="button" style="padding-left: 100px ; padding-right: 100px" ng-click="setPassword()">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                <div style="padding-bottom: 20px">
                    <font size="5">Update Contact Info
                        <br>
                    </font>
                </div>
                <div class="row" align="center">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-10" align="center">
                        <label class="sr-only">New Phone Number</label>
                        <input type="text" class="form-control" placeholder="New Phone Number" ng-model="studentNewContact" required>
                        <div style="padding-top: 10px">
                            <button class="btn btn-warning" type="button" style="padding-left: 100px ; padding-right: 100px" ng-click="setContact()">Update</button>
                        </div>
                    </div>
                    <div class="col-md-1" align="center"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="center"></div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content" style=" background-color: #F8F8F8;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span area-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Request Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div align="center">
                                <font size="4">
                                    {{selectedParent.parentName}}
                                    <br>
                                </font>
                                <font size="4">
                                    {{selectedParent.parentEmail}}
                                </font>
                            </div>
                            <div class="form-group" align="center">
                                <div class="row">
                                    <div class="col-md-6" align="center">
                                        <button class="btn btn-primary" type="submit" ng-click="reject(selectedParent)">Reject</button>
                                    </div>
                                    <div class="col-md-6" align="center">
                                        <button class="btn btn-primary" type="submit" ng-click="confirm(selectedParent)">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/profileStudentController.js"></script>
<script src="js/angular-route.js"></script>

</html>
