<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Student</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <link href="css/notifications.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
</head>

<body ng-controller="studentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li id="notification_li">
                        <span id="notification_count">{{notificationCount}}</span>
                        <button class="btn btn-default btn-link" style="font-size:20px;padding-top: 15px;" id="notificationLink">
                            <span class="glyphicon glyphicon-inbox"></span>
                        </button>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications">
                                <div class="dropdown">
                                    <ul class="dropdown-menu" style="display: block; position: static; width: 100%;">
                                        <li class="dropdown-header">Lecture Notifications</li>
                                        <div ng-repeat="lectureNoti in lectureNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToLecture(lectureNoti)">{{lectureNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Assignment Notifications</li>
                                        <div ng-repeat="assignmentNoti in assignmentNotifications" style="padding-left: 20px;">
                                            <li><a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="goToAssignment(assignmentNoti)">{{assignmentNoti.message}}</a></li>
                                        </div>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Messages</li>
                                        <div ng-repeat="messageNoti in messageNotifications track by $index" style="padding-left: 20px;">
                                            <li>
                                                <span><b>From </b>{{messageNoti.from}}</span>
                                                <br>
                                                <a href="#" style="text-decoration: none !important;color: black;padding-left: 10px;" ng-click="replyMessage($index)">{{messageNoti.message}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div id="notificationFooter">
                                <a href="#"></a>
                            </div>
                        </div>
                    </li>
                    <li><span class="btn-separator"></span></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="goToProfile()">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide">
        <div class="col-xs-5 line">
            <hr>
        </div>
        <div class="col-xs-2 logo">Welcome</div>
        <div class="col-xs-5 line">
            <hr>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos">
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <img src="images/student.png">
                </div>
                <div class="col-md-8" align="center" style="padding-top: 20px">
                    <h1>{{studentName}}</h1>
                    <h4>{{studentEmail}}</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <button class="btn btn-success btn-block" type="button" ng-click="goToProfile()">View Profile</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#registerModal">Register New Course</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-1" align="center"></div>
            </div>
        </div>
    </div>
    <!-- Fill Spaces -->
    <div class="row" style="position: relative; top: -100px;" align="center">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-8">
            <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#calendar">Check Agenda</button>
            <div id="calendar" class="collapse">
                <div class="jumbotron" style="padding: 0!important;">
                    <div id="accordion">
                        <div class="panel panel-default list-group">
                            <a href="#" class="list-group-item" data-toggle="collapse" data-parent="#accordion" data-target="#courseCal" style="background-color: #F3A746;margin: 10px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            <font color="white" size="5px"><b>19</b> Jan, <b>2016</b></font>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div style="text-align: left;color: white;font-size: 25px;">
                                            <td>The end is near.</td>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="courseCal" class="jumbotron collapse" style="padding: 0!important;background-color: #F5F6FA;">
                                <img src="images/spring.png">
                            </div>
                            <a href="#" class="list-group-item" data-toggle="collapse" data-parent="#accordion" data-target="#lecCal" style="background-color: #46E4FB;margin: 10px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            <font color="white" size="5px"><b>20</b> Jan, <b>2016</b></font>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div style="text-align: left;color: white;font-size: 25px;">
                                            <td>Seriously, you are screwed.</td>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="lecCal" class="jumbotron collapse" style="padding: 0!important;background-color: #F5F6FA;">
                                <img src="images/summer.png">
                            </div>
                            <a href="#" class="list-group-item" data-toggle="collapse" data-parent="#accordion" data-target="#assignCal" style="background-color: #5BB58E;margin: 10px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            <font color="white" size="5px"><b>20</b> Jan, <b>2016</b></font>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div style="text-align: left;color: white;font-size: 25px;">
                                            <td>Lulz.</td>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div id="assignCal" class="jumbotron collapse" style="padding: 0!important;background-color: #F5F6FA;">
                                <img src="images/autumn.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" align="center"></div>
    </div>
    <div class="row" style="position: relative; top: -100px;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-10" align="center">
            <h1>Courses</h1>
            <div class="col-md-1" align="center"></div>
            <div class="col-md-10" align="center">
                <div ng-controller="studentCtrl">
                    <div ng-repeat="courseTaken in courseStudent" style="padding-bottom: 10px">
                        <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                            <h3>{{courseTaken.courseName}}</h3>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="progress p1">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemax="100" ng-style='{"width":((courseTaken.completedLectures/courseTaken.courseLectures)*100)+"%"}'>
                                            <span><b>Lecture Completion</b></span></div>
                                    </div>
                                    <div class="progress p2">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuemax="100" ng-style='{"width":((courseTaken.completedAssignments/courseTaken.courseAssignment)*100)+"%"}'>
                                            <span><b>Assignment Completion</b></span></div>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            <p><a class="btn btn-info" ng-click="goToCourse(studentEmail,courseTaken.courseName)">Open Course Page</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1" align="center"></div>
        </div>
        <div class="col-md-1" align="center"></div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" align="center">Register for new course</h4>
                </div>
                <div ng-controller="studentCtrl">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="dropdown">
                                <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown" style="height:40px; margin-top: 10px;" id="course">Courses <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" style="width: 100%;">
                                    <div ng-repeat="courseList in coursesNotRegistered" align="center">
                                        <li><a a href="#" ng-click="goToRegistration(studentEmail,courseList.name)" style="text-decoration: none !important;color: black;">{{courseList.name}}</a></li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel" align="center">Reply</h3>
                </div>
                <div ng-controller="studentCtrl">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h5><b>From: </b>{{messageNotifications[messageSender].from}}</h5>
                            <h5><b>Message: </b>{{messageNotifications[messageSender].message}}</h5>
                            <h5><b>Reply: </b></h5>
                            <br/>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" ng-model="messageToSend">Type here</textarea>
                            </div>
                            <button class="btn btn-success" type="button" ng-click="sendMessage()">Send!</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<script>
$('#registerModal').on('show.bs.modal', function() {
    $('.coverAll').addClass('blur');
})

$('#registerModal').on('hide.bs.modal', function() {
    $('.coverAll').removeClass('blur');
})
</script>
-->
<script type="text/javascript">
function change(x) {
    document.getElementById("course").innerHTML = x;
}
$(document).ready(function() {
    $("#notificationLink").click(function() {
        $("#notificationContainer").fadeToggle(300);
        $("#notification_count").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $(document).click(function() {
        $("#notificationContainer").hide();
    });

    //Popup on click
    $("#notificationContainer").click(function() {
        return false;
    });

});
</script>
<script src="js/angular.min.js"></script>
<script src="controller/studentController.js"></script>
<script src="js/angular-route.js"></script>

</html>
