<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Course</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <link href="css/viewcourse.css" rel="stylesheet">
</head>
<script type="text/javascript" src="js/d3.min.js"></script>
<style type="text/css">
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    /* Gets overriden by D3-assigned height below */
    margin-right: 2px;
    background-color: teal;
}
</style>

<body ng-controller="cStudentCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="goToProfile()">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 35%;margin-bottom: 20px; background: #ffa500; background: -webkit-linear-gradient(left, #ffa500, #ff0000); background: -moz-linear-gradient(left, #ffa500, #ff0000); background: -ms-linear-gradient(left, #ffa500, #ff0000); background: -o-linear-gradient(left, #ffa500, #ff0000); background: linear-gradient(to right, #ffa500, #ff0000);">
        <div class="row">
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
            <div class="col-xs-2 logo">
                <font color="white" size="6">{{courseName}}</font>
            </div>
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3" align="center"></div>
            <div class="col-xs-6" align="center">
                <h3 style="color: white">{{courseDescription}}</h3>
            </div>
            <div class="col-xs-3" align="center"></div>
        </div>
    </div>
    <div class="row vertical-align">
        <div class="jumbotron jumbopos" style="top: -60px;">
            <div class="col-md-1"></div>
            <div class="col-md-3" align="center">
                <p><b>Instructors</b></p>
                <div ng-repeat="courseInstructorName in courseInstructor">
                    <p>{{courseInstructorName.facultyName}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <p><b>Contact Information</b></p>
                <div ng-repeat="courseInstructorName in courseInstructor" align="left">
                    <p>{{courseInstructorName.facultyEmail}}</p>
                </div>
            </div>
            <div class="col-md-4" align="center">
                <p>
                    <br/>
                    <b>Start Date: </b>{{startDate}}
                    <br/>
                </p>
                <p>
                    <b>End Date: </b>{{endDate}}
                </p>
                <p><b>Current GPA: </b>{{value}}</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row" style="top: -60px;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-5" align="center">
            <font size="5">
                Lectures
                <br>
            </font>
            <div ng-repeat="lecture in lectureCourse" style="padding-bottom: 5px">
                <button class="btn btn-block" ng-class="$index<lecturesCompleted?'btn-success':'btn-default'" style="padding: 2%;height: 60px;" type="button" ng-click="goToLecture(studentEmail,courseName,lecture.lectureNumber)">{{lecture.lectureNumber+". "+lecture.lectureName}}</button>
            </div>
        </div>
        <div class="col-md-5" align="center" style="padding-right: 10px;">
            <font size="5">
                Assignments
                <br>
            </font>
            <div ng-repeat="assignment in assignmentCourse" style="padding-bottom: 5px">
                <button class="btn btn-block" ng-class="$index<assignmentCompleted?'btn-success':'btn-default'" style="padding: 2%;height: 60px;" type="button" ng-click="goToAssignment(studentEmail,courseName,assignment.assignmentNumber)">{{assignment.assignmentNumber+". "+assignment.assignmentName}}</button>
            </div>
        </div>
        <div class="col-md-1" align="left"></div>
    </div>
    <hr style="border-color: #555555">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content" style=" background-color: #F8F8F8;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span area-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Contact Faculty</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!-- Textarea -->
                            <div class="form-group">
                                <textarea class="form-control" rows="5" autofocus style="background-color: white" ng-model="messageContent"></textarea>
                            </div>
                            <!-- Button -->
                            <div class="form-group" align="center">
                                <button class="btn btn-primary" type="submit" ng-click="emailFaculty()">Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div align="center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" ng-hide="isParent()">Contact Faculty</button>
    </div>
    <br>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
    <div id="graph" align="center"></div>
</body>
<script type="text/javascript">
$(document).ready(function() {
    $("#notificationLink").click(function() {
        $("#notificationContainer").fadeToggle(300);
        $("#notification_count").fadeOut("slow");
        return false;
    });

    //Document Click hiding the popup 
    $(document).click(function() {
        $("#notificationContainer").hide();
    });

    //Popup on click
    $("#notificationContainer").click(function() {
        return false;
    });

});
</script>
<script src="js/angular.min.js"></script>
<script src="controller/courseStudent.js"></script>
<script src="js/angular-route.js"></script>

</html>
