<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Course</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <link href="css/viewcoursefaculty.css" rel="stylesheet">
</head>

<body ng-controller="cFacultyCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#" ng-click="goToHome()"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="goToProfile()">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#" ng-click="logOut()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 35vh;margin-bottom: 20px; background: background: #102e4a; background: -webkit-linear-gradient(left, #102e4a, #2c7ecb); background: -moz-linear-gradient(left, #102e4a, #2c7ecb); background: -ms-linear-gradient(left, #102e4a, #2c7ecb); background: -o-linear-gradient(left, #102e4a, #2c7ecb); background: linear-gradient(to right, #102e4a, #2c7ecb);">
        <div class="row">
            <div class="col-md-4 col-xs-2 line" style="padding-top: 30px">
                <hr>
            </div>
            <div class="col-md-4 col-xs-8 logo">
                <font color="white" style="font-size: 4vh;">{{courseName}}</font>
            </div>
            <div class="col-md-4 col-xs-2 line" style="padding-top: 30px">
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-xs-1" align="center"></div>
            <div class="col-md-8 col-xs-10" align="center">
                <h4 style="color: white;font-size: 3vh;">{{courseDescription}}</h4>
            </div>
            <div class="col-md-2 col-xs-1" align="center"></div>
        </div>
    </div>
    <div class="row vertical-align">
        <div id="jumboMain" class="jumbotron jumbopos" style="top: -5vh;">
            <div class="col-md-1"></div>
            <div class="col-md-3 col-xs-10 col-md-offset-0 col-xs-offset-1" align="center">
                <p><b>Instructors</b></p>
                <div ng-repeat="courseInstructorName in courseInstructor">
                    <p>{{courseInstructorName.facultyName}}</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-10 col-md-offset-0 col-xs-offset-1" align="center">
                <p><b>Contact Information</b></p>
                <div ng-repeat="courseInstructorName in courseInstructor">
                    <p>{{courseInstructorName.facultyEmail}}</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-10 col-md-offset-0 col-xs-offset-1" align="center">
                <p>
                    <b>Start Date</b>
                    <br/>{{startDate}}
                </p>
                <p>
                    <b>End Date</b>
                    <br/>{{endDate}}
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row" style="top: -60px;">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-5 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
            <font size="5">
                Lectures
                <br>
            </font>
            <div ng-repeat="lecture in lectureCourse">
                <div style="padding-bottom: 3px">
                    <button class="btn btn-default btn-block" style="padding: 2%;" type="button" ng-click="goToLecture(facultyEmail,courseName,lecture.lectureNumber)">{{lecture.lectureName}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center" style="padding-right: 10px;">
            <font size="5">
                Assignments
                <br>
            </font>
            <div ng-repeat="assignment in assignmentCourse">
                <div style="padding-bottom: 3px">
                    <button class="btn btn-default btn-block" style="padding: 2%;" type="button" ng-click="goToAssignment(facultyEmail,courseName,assignment.assignmentNumber)">{{assignment.assignmentName}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-1" align="left"></div>
    </div>
    <hr style="border-color: #235f73;border-width: 3px;">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content" style=" background-color :    #F8F8F8;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span area-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Contact</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--this dropdown provides list of students if faculty is visiting the page....hide it when student is visiting the page ><-->
                            <div class="dropdown">
                                <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px;" id="rcvr">Receiver
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="student in studentsEnrolled"><a href="#" ng-click="setStudentRecieveEmail(student.email,student.name)">{{student.name}}</a></li>
                                </ul>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <textarea class="form-control" autofocus rows="5" id="texta" style="background-color: white" ng-model="message"></textarea>
                            </div>
                            <!-- Button -->
                            <div class="form-group" align="center">
                                <button class="btn btn-primary" type="submit" ng-click="sendMessage(courseName)" data-dismiss="modal">Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
            <font size="5">Add Content
                <br>
            </font>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <button id="addLec" class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="collapse" ng-click="setTypeOfContent(1)" href="#collapseLec" data-parent="#accordion" style="height:40px; margin-top: 10px;" id="type">Lecture</button>
                    <div id="collapseLec" class="panel-collapse collapse">
                        <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                            <div class="row">
                                <div class="col-md-1" align="center"></div>
                                <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
                                    <form class="form-signin">
                                        <label class="sr-only">Title</label>
                                        <input type="text" class="form-control" placeholder="Title" ng-model="content.title" required id="t1">
                                        <label class="sr-only">Start Date</label>
                                        <input type="text" class="form-control" placeholder="Start Date dd-mm-yy" ng-model="content.startDate" required id="t2">
                                        <label class="sr-only">End Date</label>
                                        <input type="text" class="form-control" placeholder="End Date dd-mm-yy" ng-model="content.endDate" required id="t3">
                                        <textarea placeholder="Content" class="form-control" rows="5" ng-model="content.content" id="t4"></textarea>
                                        <br/>
                                        <div>
                                            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="addContent(content)" onclick = "reset()">Add</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1" align="center"></div>
                            </div>
                        </div>
                    </div>
                    <button id="addAss" class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="collapse" ng-click="setTypeOfContent(2)" href="#collapseAss" data-parent="#accordion" style="height:40px; margin-top: 10px;" id="type">Assignment</button>
                </div>
                <div class="panel panel-default">
                    <div id="collapseAss" class="panel-collapse collapse">
                        <div class="jumbotron" style="box-shadow: 1px 1px 5px #888888;">
                            <div class="row">
                                <div class="col-md-1" align="center"></div>
                                <div class="col-md-10 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
                                    <form class="form-signin">
                                        <label class="sr-only">Title</label>
                                        <input type="text" class="form-control" placeholder="Title" ng-model="content.title" required id="t5">
                                        <label class="sr-only" >Assignment Number of Questions</label>
                                        <input type="text" class="form-control" placeholder="Number of questions" ng-model="questionsCount" id="t6">
                                        <label class="sr-only">Start Date</label>
                                        <input type="text" class="form-control" placeholder="Start Date dd-mm-yy" ng-model="content.startDate" required id="t7">
                                        <label class="sr-only">End Date</label>
                                        <input type="text" class="form-control" placeholder="End Date dd-mm-yy" ng-model="content.endDate" required id="t8">
                                        <textarea placeholder="Content" class="form-control" rows="5" ng-model="content.content" id="t9"></textarea>
                                        <button class="btn btn-info btn-block" type="button" data-toggle="collapse" ng-click="setAnswerToQuestions()" href="#collapseAnswers">Set Answers to Questions</button>
                                        <br/>
                                        <div id="collapseAnswers" class="panel-collapse collapse">
                                            <form class="form-answers">
                                                <div data-ng-repeat="choice in choices track by $index">
                                                    <span>Q{{$index + 1}}</span>
                                                    <input class="form-control" type="text" ng-model="choice.answer" name="" placeholder="Enter answer" required>
                                                </div>
                                            </form>
                                            <div style="padding-top: 20px;">
                                                <button class="btn btn-success addfields" ng-click="setAnswer()">Set Answers</button>
                                            </div>
                                            <br/>
                                        </div>
                                        <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="addContent(content)" onclick = "reset()">Add</button>
                                    </form>
                                </div>
                                <div class="col-md-1" align="center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-md-1" align="center"></div>
    </div>
    <br>
    <div align="center" style="padding: 1%;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal"  onclick = "clearContents();" >Contact Students</button>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/courseFaculty.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/socket.io.js"></script>

<script type="text/javascript">
function change(x) {
    document.getElementById("type").innerHTML = x;
}
function clearContents() {
    document.getElementById("texta").value = '';
}

function reset()
{
    document.getElementById("t1").value = '';
    document.getElementById("t2").value = '';
    document.getElementById("t3").value = '';
    document.getElementById("t4").value = '';
    document.getElementById("t5").value = '';
    document.getElementById("t6").value = '';
    document.getElementById("t7").value = '';
    document.getElementById("t8").value = '';
    document.getElementById("t9").value = '';
}
</script>

</html>
