<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="ghost" content="">
    <link rel="icon" href="favicon.ico">
    <title>Course</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
    <link href="css/spage.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="cFacultyCtrl" ng-init="init()">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#"><b>Studious</b> | Study + Discover</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 15px;">
                    <li><a href="#"><b>Home</b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i><b>  Menu</b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /container -->
    <div class="wide" style=" height : 35%;margin-bottom: 20px; background: #2390fd;
    background: -webkit-linear-gradient(left, #2390fd, #54cfcb);
    background:    -moz-linear-gradient(left, #2390fd, #54cfcb);
    background:     -ms-linear-gradient(left, #2390fd, #54cfcb);
    background:      -o-linear-gradient(left, #2390fd, #54cfcb);
    background:         linear-gradient(to right, #2390fd, #54cfcb);">
        <div class="row">
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
            <div class="col-xs-2 logo">
                <font color="white" size="6">{{courseName}}</font>
            </div>
            <div class="col-xs-5 line" style="padding-top: 30px">
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3" align="center"></div>
            <div class="col-xs-6" align="center">
                <font color="white" size="6">{{courseDescription}}</font>
            </div>
            <div class="col-xs-3" align="center"></div>
        </div>
    </div>
    <div class="row">
        <div align="center">
            <font size="4">
                <b>Name: </b>{{facultyName}}
                <br>
            </font>
        </div>
    </div>
    <div class="row">
        <div align="center">
            <font size="4">
                <b>Instructors: </b>
                <div ng-repeat="courseInstructorName in courseInstructor">
                    <span>{{courseInstructorName.facultyName}}</span>
                </div>
            </font>
            <font size="4">
                {{department}}
                <br>
            </font>
            <font size="4">
                <b>Start Date: </b>{{startDate}}
            </font>
            <font size="4">
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End Date: </b>{{endDate}}
                <br>
            </font>
        </div>
    </div>
    <hr style="border-color: #555555">
    <div class="row">
        <div class="col-md-1" align="center"></div>
        <div class="col-md-5" align="center">
            <font size="5">
                Lectures
                <br>
            </font>
            <div ng-repeat="lecture in lectureCourse">
                <button class="btn btn-default btn-block" style="padding: 2%;" type="button" ng-click="goToLecture(facultyEmail,courseName,lecture.lectureNumber)">{{lecture.lectureName+" "+lecture.lectureNumber}}</button>
            </div>
        </div>
        <div class="col-md-5" align="center" style="padding-right: 10px;">
            <font size="5">
                Assignments
                <br>
            </font>
            <div ng-repeat="assignment in assignmentCourse">
                <button class="btn btn-default btn-block" style="padding: 2%;" type="button" ng-click="goToAssignment(facultyEmail,courseName,assignment.assignmentNumber)">{{assignment.assignmentName+" "+assignment.assignmentNumber}}</button>
            </div>
        </div>
        <div class="col-md-1" align="left"></div>
    </div>
    <hr style="border-color: #555555">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" col-md-6>
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content" style=" background-color :    #F8F8F8;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span area-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Contact</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <!--this dropdown provides list of students if faculty is visiting the page....hide it when student is visiting the page ><-->
                            <div class="dropdown">
                                <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top: 10px;">Receiver
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" ng-repeat="student in studentsEnrolled">
                                    <li><a href="#" ng-click="setStudentRecieveEmail(student.email)">{{student.name}}</a></li>
                                </ul>
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <textarea class="form-control" rows="5" autofocus style="background-color: white" ng-model="message"></textarea>
                            </div>
                            <!-- Button -->
                            <div class="form-group" align="center">
                                <button class="btn btn-primary" type="submit" ng-click="sendMessage(courseName)">Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" align="center"></div>
        <div class="col-md-8" align="center">
            <font size="5">Add Content
                <br>
            </font>
            <form class="form-signin">
                <label class="sr-only">Title</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="content.title" required></input>
                <label class="sr-only">Assignment Number of Questions</label>
                <input type="text" class="form-control" placeholder="Number of questions(only for assignments" ng-model="questionsCount"></input>
                <label class="sr-only">Start Date</label>
                <input type="text" class="form-control" placeholder="Start Date dd-mm-yy" ng-model="content.startDate" required></input>
                <label class="sr-only">End Date</label>
                <input type="text" class="form-control" placeholder="End Date dd-mm-yy" ng-model="content.endDate" required></input>
                <textarea placeholder="Content" class="form-control" rows="5" ng-model="content.content"></textarea>
                <div style="padding-left: 200px;padding-right: 200px;">
                    <div class="dropdown" style="padding-top: 10px">
                        <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="dropdown" style="height:40px; margin-top: 10px;" id="type">Type
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="setTypeOfContent(1)" onclick="change('Lecture')">Lecture</a></li>
                            <li><a href="#" ng-click="setTypeOfContent(2)" onclick="change('Assignment')">Assignment</a></li>
                        </ul>
                    </div>
                    <div>
                       <fieldset  data-ng-repeat="choice in choices">
                          <input type="text" ng-model="choice.answer" name="" placeholder="Enter answer">
                       </fieldset>
                       <div style="padding-top: 20px;">
                            <button class="addfields" ng-click="setAnswer()">Set Answers</button>
                        </div>
                        <div class="col-md-10">
                            <font size="4">
                            {{correctAnswerCount}}
                            </font>
                        </div>
                    </div>
                    <div class="col-xs-12" style="height:20px;"></div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="addContent(content)">Add</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div align="center" style="padding-bottom: 10px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Contact</button>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
    </script>
    <script src="js/bootstrap.min.js"></script>
</body>
<script src="js/angular.min.js"></script>
<script src="controller/courseFaculty.js"></script>
<script src="js/angular-route.js"></script>
<script type="text/javascript">
function change(x)
    {document.getElementById("type").innerHTML=x;}
</script>
</html>
